@tailwind base;
@tailwind components;
@tailwind utilities;


 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar styling */
.navbar {
  background-color: #242424;
  color: #5e5e5e;
}

.navbar-btn {
  transition: all 0.2s;
}

.navbar-btn:hover {
  color: white;
}


.main-text {
  color: #5e5e5e;
}

/* Animation for the cursor */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



.animate-blink {
  animation: blink 1s ease-in-out infinite;
}
